@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.scss";

* {
  font-family: 'Sofia Pro', sans-serif;
  outline: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 13, 255, 9;
  --background-end-rgb: 13, 255, 9;
  --backgdsad: 13, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .UI {
    color: transparent !important;
    @apply bg-UI #{!important};
    border-radius: 2rem !important;
    border: none;
  }
  .UI::before{
    background-color: transparent!important;
  }
  .animation-play-state-paused {
    animation-play-state: paused;
  }
  .UI-text {
    @apply bg-UI_text #{!important};
  }
}


