@tailwind base;
@tailwind components;
@tailwind utilities;
@import "fonts.scss";

* {
  font-family: 'Sofia Pro', sans-serif;
}

html {
  font-size: 18px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 13, 255, 9;
  --background-end-rgb: 13, 255, 9;
  //--background-end-rgb: 13, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
                  to bottom,
                  transparent,
                  rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

@layer utilities {
  .UI {
    color: transparent !important;
    background-color: white !important;
    border-radius: 2rem !important;
  }
  .animation-play-state-paused {
    animation-play-state: paused;
  }
}


